@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
}

.gloria-font {
  font-family: "Gloria Hallelujah", cursive;
  font-weight: 400;
}

.active {
  color: #f9a826;
}

.what-we-do {
  transform: translateX(-50%);
  box-shadow: 0 -10px 20px -5px rgba(115, 115, 115, 0.75);
}

.rotate {
  animation: rotate 50s infinite linear;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.weDo-rotate-center {
  transform: translate(-50%, -50%);
}

/* .stats-grid {
  display: grid;
  grid-template-columns: repeat(3, 320px);
  place-content: center;  */
/* } */

.stat-pic {
  transform: translateX(-50%);
}

.stories-slide {
  display: grid !important;
  grid-template-columns: 1fr 0.75fr;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important; */
  /* height: 500px; */
  /* margin-inline: 10px !important; */
}

@media (max-width: 768px) {
  .stories-slide {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

.slick-slide > div {
  padding: 1rem;
}

.bg-gradient {
  background: rgb(245, 180, 0);
  background: linear-gradient(
    338deg,
    rgba(245, 180, 0, 1) 20%,
    rgba(244, 116, 69, 1) 75%
  );
}

.bg-gradient-2 {
  background: rgb(245, 164, 0);
  background: linear-gradient(
    338deg,
    rgba(245, 164, 0, 1) 20%,
    rgba(69, 244, 195, 1) 75%
  );
}

.wedo-card {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
