@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
}

.gloria-font {
  font-family: "Gloria Hallelujah", cursive;
  font-weight: 400;
}

.what-we-do {
  transform: translateX(-50%);
  box-shadow: 0 -10px 20px -5px rgba(115, 115, 115, 0.75);
}

.rotate {
  animation: rotate 50s infinite linear;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.weDo-rotate-center {
  transform: translate(-50%, -50%);
}

/* .stats-grid {
  display: grid;
  grid-template-columns: repeat(3, 320px);
  place-content: center;  */
/* } */

.stat-pic {
  transform: translateX(-50%);
}

.stories-slide {
  display: flex !important;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important; */
  height: 500px;
  /* margin-inline: 10px !important; */
}

.slick-slide > div {
  margin: 0 20px;
}
